@use "../../scss/typography";
@use "../../scss/colors";

.button {
    font-family: typography.$main-f;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    border: 1px solid transparent;
    margin: 0.25rem;
    white-space: nowrap;
    &:focus{
        outline: thin;
    }
}

.primarybtn {
    color: white;
    background: colors.$teal;
    font-weight: 400;
    cursor: pointer;
    transition: color .15s ease-in-out;
    &:hover {
        color: rgba(0, 0, 0, 0.75)
    }
}

.toggle {
    background-color: transparent;
    font-size: 1.25rem;
    font-weight: 400;
    cursor: pointer;
    border: lightgray solid 1px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &.active {
        color: white;
        background: colors.$teal;
        border: 0;
    }
}