@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: "Lato";
}

.button{
    color: #ffffff;
    background: #008081;
}

.codingimg{
    background: scroll center no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
}

.contact {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

footer{
    padding: 20px;
    background-color: black;
    color: white;
}

html{
    scroll-behavior: smooth;
}

.home {
    height: 100vh;
}

.link-black{
    color: black;
}

.link-black:hover{
    color: black;
    text-decoration: none;
}

#loading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(45deg, #ffffff, #ffffff);
    z-index: 9999999;
}

#loading #status{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.loader {
    position: absolute;
    left: 50%;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #008081;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.navigation {
    color: #ffffff;
    font-weight: bold;
    background-color: black;
}

.nav-link.projectnav{
    color: black;
    border: lightgray solid 1px;
}

.nav-link.projectnav.active{
    background-color: #008081 !important;
    border: 0;
    color: white;
}

.nav-link.skillnav{
    color: black;
    border: lightgray solid 1px;
}

.nav-link.skillnav.active{
    background-color: #008081 !important;
    border: 0;
    color: white;
}

#pills-tabContent{
    transition: height ease 2s;
}

.profile{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.profilepiccont{
    display: table;
    width: 100%;
    height: 100%;
    color: white;
}

.profilepic{
    display: table-cell;
    vertical-align: middle;
}

.profilepicimg{
    height: 200px;
    border: 5px solid gray;
}

.progressbar{
    height: 2px;
    background-color: #008081;
    margin: 1px 2px;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
}

@-webkit-keyframes animate-positive {
    0% {
      width: 0;
    }
  }
  
  @keyframes animate-positive {
    0% {
      width: 0;
    }
  }

.progresscont{
    height: 6px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.progresslabel{
    position: absolute;
    top: -30px;
    right: -20px;
    padding: 5px;
    font-size: 13px;
}

.projectimg{
    /* height: 263px; */
    transition: all 1s ease;
    width: 100%;
}

.projectimg:hover{
    transform: scale(1.2);
}

.project-label{
    bottom: 10px;
    left: 15px;
}

.projects {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

#projecttiles li.listview{
    width: 100%;
}

#projecttiles ul.listview{
    height: 100%;
}

.scroll{
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    border: 0;
    margin: auto;
    height: 50px;
}

.skillsbox{
    padding: 80px 10%;
    background-color: rgba(248, 249, 255, 0.9);
}

.socials a {
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
}

.socials a:hover {
    color: #008081;
}