.skillsgraph {
    display: flex;
    flex-direction: column;

}

.skill-bar {
    height: 4px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.skill-item {
  padding: 10px 0;
}

.skill-label {
    position: absolute;
    top: -25px;
    right: -18px;
}

.skill-level {
    position: relative;
    height: 2px;
    background-color: #008081;
    margin: 1px 2px;
    -webkit-animation: animate-skill 2s;
    animation: animate-skill 2s;
}

.skill-list {
  padding: 20px 10px;
}

@-webkit-keyframes animate-skill {
    0% {
      width: 0;
    }
  }
  
  @keyframes animate-skill {
    0% {
      width: 0;
    }
  }

.skill-list ul {
    display: none;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.skill-list ul.active {
    display: initial;
}

.skill-name {
  position: relative;
  top: -5px;
}

.skill-switch {
    display: flex;
    flex-direction: column;
}