@use "../../scss/colors";
@use "../../scss/variables" as var;
@use "../../scss/extendables";

.section-skills {
    display: flex;
    position: relative;
    background-color: colors.$section-darker-bg;
}

.skillsimg {
    background-image: url(img/coding.jpg);
    min-height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
}

.skillspanel {
    height: 100%;
    width: 100%;
    padding: var.$section-pad;
}

.skillspanellabel {
    @extend %section-head;
    padding-bottom: 20px;
}

@media (min-width: 992px) {
.skillsimg {
    width: 33%;
    z-index: 0;
}

.skillspanel {
    margin-left: 33%;
    padding: 80px 5%;
}
}