.contact {
    background-color: rgba(248, 249, 255, 0.9);
    padding: 80px 10%;
}

.contact-head h4 {
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
}

.contact-head p {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.contact-item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact-item p{
    margin: 0;
}